


{% load static %}

<html>
 <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--<script src= "https://kit.fontawesome.com/cae219a7d3.js"> </script>-->

<br>INDIAN BANK

   <div>      <a class="btn btn-warning" href="{% url 'bankapp:login' %}">Login   </a></div>
<br>
        <div>  <a class="btn btn-warning" href="{% url 'bankapp:register' %}"> Register  </a></div><br>
         <div> <a class="btn btn-danger" href="{% url 'bankapp:logout' %}">Logout       </a></div><br>
<div class="dropdown">
<link rel="stylesheet" href="{% static 'css/d.css' %}">
      <button>Branches</button>

<div class="dropdown-content">





                           <a href="https://en.wikipedia.org/wiki/Kochi">KOCHI</a>
                            <a href="https://en.wikipedia.org/wiki/Aluva">ALUVA</a>
                             <a href="https://en.wikipedia.org/wiki/Angamaly"> ANGAMALY</a>
                              <a href="https://en.wikipedia.org/wiki/Kakkanad">KAKKANAD</a>
                               <a href="https://en.wikipedia.org/wiki/Vyttila">VYTTILA</a>

            </div>
        </div>

</div>
</div>
    </nav>



  <div class="bg-image d-flex justify-content-center align-items-center"
style="
    background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.webp');
   height: 100vh;
">


<!--<br>-->
<!--         <br>-->
<!--         <br>-->

<!--    <h4 class="text-white">  Indian Bank-->
<!--        <br>-->
<!--    </h4>-->
<!--         <a class="" href="{% url 'bankapp:link' %}"><h3>Click here...<br>-->
<!--             <br>-->
<!--             To accept the application-->

<!--         </h3></a>-->


<!-- - -->
<!--    <br>-->
<!--    <br>-->
<!--</div>-->





<br>
         <br>
         <br>

    <h4 class="text-white">  Indian Bank
        <br>
    </h4>
         <a class="" href="{% url 'bankapp:link' %}"><h3>Click here...<br>
             <br>
             To accept the application

         </h3></a>



    <br>
    <br>
</div>




</div></html>



